.label, .textfield, .textarea {
    font-name: "styles/default/arial.ttf";
    font-size: 14px;
}

.textarea {
}

.textfield {
    padding: 4px;
    padding-left: 4px;
    padding-bottom: 3px;
}

.scrollview {
    padding: 1px;
}

.numberstepper {
    padding: 1px;
}

.optionbox .image {
    margin-left: -1px;
}

.tooltip {
    filter: none;
}