.label, .textfield, .textarea {
    font-name: "styles/default/arial.ttf";
    font-size: 14px;
}

.textarea {
}

.textfield {
    padding: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.tooltip {
    filter: none;
}